* {
    box-sizing: border-box;
}

header{
    font-family: 'Permanent Marker', cursive;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, #434343, #000000);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: white;
}

.score{
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.timer{
    display: inline-block;
    margin: 0 10px;
}

.game-section {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 800px;
}

footer{
    font-size: 20px;
    color: white;
    margin-top: 20px;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.cards {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    margin: 5px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.cards:active {
    transform: scale(.95);
}

.cards.fliped{
    transform: rotateY(180deg);
}

.face-front,
.face-back {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    background-image: linear-gradient(to bottom right, #667eea, #764ba2);
    backface-visibility: hidden;
}

.face-front{
    transform: rotateY(180deg);
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background-image: linear-gradient(to bottom right, #667eea, #764ba2);
    border-radius: 5px;
    width: 85%;
    position: relative;
    color: black;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.show {
    visibility: visible !important;
    opacity: 1 !important;
}

#play-again{
    background-image: linear-gradient(to bottom right, #434343, #000000);
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    width: 50%;
    color: white;
    border-radius: 5px;
    opacity: 0.6;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}